.header{
    display: block;
    height:50px;
    background-color: rgb(212, 128, 11);
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.footer{
    display: block;
    height:50px;
    background-color: rgb(23, 184, 71);
    text-align: center;
    padding: 10px 0px 0px 0px; 
}

.dark {
    background-color: #333;
    color: #fff;
  }
  .light {
    background-color: #fff;
    color: #333;
  }